<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/fl?useUnicode=true&amp;characterEncoding=UTF-8" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" destroy-method="destroy">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.hbm2ddl.auto=update
                hibernate.show_sql=true
                hibernate.format_sql=false
                hibernate.use_sql_comments=false
            </value>
        </property>
        <property name="packagesToScan">
            <list>
                <value>fl.user.domain</value>
                <value>fl.core.domain</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="deityDAOImpl" class="fl.core.dao.impl.DeityDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="fighterDAOImpl" class="fl.core.dao.impl.FighterDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="personDAOImpl" class="fl.user.dao.impl.PersonDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="deityServiceImpl" class="fl.core.service.impl.DeityServiceImpl">
        <property name="deityDAO" ref="deityDAOImpl" />
    </bean>
    <bean id="fighterServiceImpl" class="fl.core.service.impl.FighterServiceImpl">
        <property name="fighterDAO" ref="fighterDAOImpl" />
    </bean>
    <bean id="personServiceImpl" class="fl.user.service.impl.PersonServiceImpl">
        <property name="personDAO" ref="personDAOImpl" />
    </bean>
    <bean id="fightService" class="fl.core.service.impl.FightServiceImpl">
        <property name="fighterService" ref="fighterServiceImpl" />
        <property name="game" ref="game" />
    </bean>

    <bean id="game" class="fl.core.fight.Game"></bean>

    <bean name="/fighter" class="fl.site.struts.action.FighterAction">
        <property name="fighterService" ref="fighterServiceImpl" />
        <property name="deityService" ref="deityServiceImpl" />
    </bean>
    <bean name="/deity" class="fl.site.struts.action.DeityAction">
        <property name="deityService" ref="deityServiceImpl" />
    </bean>
    <bean name="/login" class="fl.site.struts.action.LoginAction">
        <property name="personService" ref="personServiceImpl" />
    </bean>
    <bean name="/person" class="fl.site.struts.action.PersonAction">
        <property name="personService" ref="personServiceImpl" />
    </bean>
    <bean name="/index" class="org.apache.struts.actions.ForwardAction">
    </bean>
</beans>